<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="icon" type="image/png" href="/public/images/image_assets/MC.jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="css/responsive-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
</head>
<body>
  <form id="uploadform" hidden action="/pic" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage">
  </form>
    <header class="header_wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container1">
              <a class="navbar-brand" href="#">
                  <img decoding="async" src="/images/image_assets/medicarlogo.png" class="img-fluid" >
                  <a href="/bot">CHATBOT</a>
              </a>
            </div>
        </nav>      
    </header>
    <div class="box">
    
    <div id="boxc">
            <div id="box1">
                <div id="img">
                    <img src="/images/uploads/<%= user.profileImage %>" height="100%" width="100%" class="pic">
                </div>
            </div>
            <div id="box2">
                <ul>
                    <p><%= user.name %></p>
                    <p><%= user.dob %></p>
                    <p><%= user.gender %></p>
                    <p><%= user.number %></p>
                    <p><%= user.email %></p>
                    <button id="change" style="padding: 5px 9px; background-color: black; color: aliceblue;">click</button>
                </ul>
            </div>
    </div>
    </div>
    <div>
        <p class="past">Past Treatment History</p>
        <div class="problems1">
        <div class="problems">
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</p>
            <a href="/treatment" class="butt">View details</a>
        </div><div class="problems">
        <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</p>
        <a href="/treatment" class="butt">View details</a>
    </div>
    </div>

    </div>
    <p class="past">Current Treatment Progress</p>
    <div class="container">
        
        <div class="timeline">
            <div class="line"></div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Date of Admit</h2>
                    <p>
                        02/11/2001
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Symptom</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint reprehenderit corrupti aut nisi omnis minus eveniet temporibus provident non.
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Problems Diagnosed</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda blanditiis obcaecati aperiam debitis repellendus porro earum facere eos dolores architecto!
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Medication Required</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto unde consequuntur, mollitia corrupti accusantium reprehenderit minus libero qui laborum doloremque?
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Operation</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni voluptas expedita, odit aspernatur voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        
        <div class="btn-group">
            <a href="/doctor" class="btn" id="btn1">Take Appointment with Doctor</a>
            <a href="/ambulance" class="btn" id="btn2">Book Ambulance</a>
            <a href="/bookbed" class="btn" id="btn1">Book Hospital Bed</a>
        </div>
    </div>
    <script src="/javascripts/profile.js"></script>
</body>
</html>