<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" type="image/png" href="/public/images/image_assets/MC.jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="css/responsive-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <style>
        .containergraph{
            display: flex;
        }
      </style>
</head>
<body>
  <form id="uploadform" hidden action="/pic" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage">
  </form>
    <header class="header_wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container1">
              <a class="navbar-brand" href="#">
                  <img decoding="async" src="/images/image_assets/medicarlogo.png" class="img-fluid" >
<div class="yo">
                 <a class="y"href="/bot">CHATBOT</a>
                  <a class="y"href="/s-bed">Booked Bed</a>
                  <a class="y"href="/s-appointment">Appointments</a>
                  <a class="y"href="/s-ambulance">Ambulance Status</a>
</div>
              </a>
            </div>
        </nav>      
    </header>
    <div class="box">
    
    <div id="boxc">
            <div id="box1">
                <div id="img">
                    <img src="/images/uploads/<%= user.profileImage %>" height="100%" width="100%" class="pic">
                </div>
            </div>
            <div id="box2">
                <ul>
                    <p><%= user.name %></p>
                    <p><%= user.dob %></p>
                    <p><%= user.gender %></p>
                    <p><%= user.number %></p>
                    <p><%= user.email %></p>
                    <button id="change" style="padding: 5px 9px; background-color: black; color: aliceblue;">✏️</button>
                </ul>
            </div>
    </div>
    </div>
    <div>
        <p class="past">Past Treatment History</p>
        <div class="problems1">
        <div class="problems">
            <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</p>
            <a href="/treatment" class="butt">View details</a>
        </div><div class="problems">
        <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.</p>
        <a href="/treatment" class="butt">View details</a>
    </div>
    </div>

    </div>
    <p class="past">Current Treatment Progress</p>
    <div class="container">
        
        <div class="timeline">
            <div class="line"></div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Date of Admit</h2>
                    <p>
                        02/11/2001
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Symptom</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint reprehenderit corrupti aut nisi omnis minus eveniet temporibus provident non.
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Problems Diagnosed</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda blanditiis obcaecati aperiam debitis repellendus porro earum facere eos dolores architecto!
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Medication Required</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto unde consequuntur, mollitia corrupti accusantium reprehenderit minus libero qui laborum doloremque?
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Operation</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni voluptas expedita, odit aspernatur voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        
        <div class="btn-group">
            <a href="/doctor" class="btn" id="btn1">Take Appointment with Doctor</a>
            <a href="/ambulance" class="btn" id="btn2">Book Ambulance</a>
            <a href="/bookbed" class="btn" id="btn1">Book Hospital Bed</a>
        </div>
    </div>
    <div class="containergraph">  
        <div id="bp_chart" style="width: 900px; height: 500px" data-aos="slide-right"></div>
        <div id="sugar_chart" style="width: 900px; height: 500px" data-aos="slide-left"></div>
    </div>
    <script src="/javascripts/profile.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);
  
      function drawCharts() {
        // Blood Pressure Chart
        var bpData = google.visualization.arrayToDataTable([
          ['Date', 'Normal B.P.', 'Your B.P.'],
          ['1', 130, 124],
      ['2', 130, 135],
      ['3', 130, 140],
      ['4', 130, 140],
      ['5', 130, 145],
      ['6', 130, 150],
      ['7', 130, 144],
      ['8', 130, 160],
      ['9', 130, 165],
      ['10', 130, 150],
      ['11', 130, 148],
      ['12', 130, 149],
      ['13', 130, 140],
      ['14', 130, 138],
      ['15', 130, 142],
      ['16', 130, 141],
      ['17', 130, 148],
      ['18', 130, 155],
      ['19', 130, 154],
      ['20', 130, 152],
      ['21', 130, 145],
      ['22', 130, 140],
      ['23', 130, 138],
      ['24', 130, 137],
      ['25', 130, 130],
      ['26', 130, 132],
      ['27', 130, 134],
      ['28', 130, 136],
      ['29', 130, 139],
      ['30', 130, 143]
        ]);
  
        var bpOptions = {
          title: 'Blood Pressure',
          curveType: 'function',
          legend: { position: 'top' }
        };
  
        var bpChart = new google.visualization.LineChart(document.getElementById('bp_chart'));
        bpChart.draw(bpData, bpOptions);
  
        // Sugar Level Chart
        var sugarData = google.visualization.arrayToDataTable([
          ['Date', 'Normal Sugar Level', 'Your Sugar Level'],
          ['1', 120, 115],
      ['2', 120, 123],
      ['3', 120, 122],
      ['4', 120, 125],
      ['5', 120, 120],
      ['6', 120, 118],
      ['7', 120, 125],
      ['8', 120, 125],
      ['9', 120, 123],
      ['10', 120, 126],
      ['11', 120, 128],
      ['12', 120, 122],
      ['13', 120, 123],
      ['14', 120, 117],
      ['15', 120, 116],
      ['16', 120, 118],
      ['17', 120, 120],
      ['18', 120, 122],
      ['19', 120, 120],
      ['20', 120, 123],
      ['21', 120, 124],
      ['22', 120, 128],
      ['23', 120, 127],
      ['24', 120, 126],
      ['25', 120, 127],
      ['26', 120, 128],
      ['27', 120, 127],
      ['28', 120, 128],
      ['29', 120, 125],
      ['30', 120, 126]
        ]);
  
        var sugarOptions = {
          title: 'Sugar Level',
          curveType: 'function',
          legend: { position: 'top' }
        };
  
        var sugarChart = new google.visualization.LineChart(document.getElementById('sugar_chart'));
        sugarChart.draw(sugarData, sugarOptions);
      }
    </script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
       AOS.init({
         offset: 200,
         duration: 800,
 
       });
     </script>
 
    
</body>
</html>
